@font-face {
    font-family: SerifFont;
    src: url('./Fonts/Merriweather/Merriweather-Regular.ttf');
  }


.analyze-container {
  margin-right: 10px;
}

.analysis-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.analysis-info {
  margin-top: 10px;
}
  
h5, h4 {
    color: #8d8d83;
}

#processes_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.processes-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.processes-item-left,
.processes-item-right {
  display: flex;
  align-items: center;
}



.container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

section.left-section {
  width: calc(20vw);
  min-width: 200px;
  max-width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

section.main-section {
  flex-grow: 1;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

section.right-section {
  width: calc(30vw);
  min-width: 300px;
  max-width: 500px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
}

section.left-section h2,
section.right-section h2 {
    margin: 0;
}

section.right-section .logo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.card {
  width: 500px;
  margin-right: 10px;
}

.process-title {
  text-align: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  
}

.process-item {
  text-align: left;
  width: 100%;
}

.process-item-left {
  width: 90%;
}
.process-item-right {
  width: 10%;
}
.menu-text-buttons {
  width: 100%;
}

.business-title {
  text-align: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.business-content {
  text-align: left;
  height: 90%;
  margin: 25px;;
  outline-color: #000000;
  
}


[contenteditable]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #999;
  pointer-events: none;
}



.card:hover {
  box-shadow: 0px 10px 30px rgba(48, 48, 48, 0.1);
  outline: none;
}
.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.svg-splash {
  height: 40%;
  opacity: .05;
  margin-left: 50px;
}

.intro-splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-button {
  display: none;
  margin: 0 auto;
  padding: 10px 20px;
}

.arrow-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up-button,
.down-button {
  padding: 5px 10px;
  margin-top: 0px;
}


.down-button {
  margin-top: 10px;
}

.arrowimg {
  margin-top: 10px;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#delete-process {
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
#delete-process:hover {
  background-color: #e7e7e7;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}


.analysis-output {
  line-height: 1.6;
  overflow: scroll;
  height: 60%;
  margin-top: 18px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
}
.analysis-output:hover {
  box-shadow: 0 0 20px 5px rgba(41, 41, 41, 0.1);
}

/* Style for the modal content box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 70vh;
  border-radius: 25px;
}

.divider {
  height: 1px;
  background-color: #ccc;
}

.analyze-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.analyze-modal-content {
  margin: auto;
  padding: 20px;
  width: 30%;
  min-width: 250px;
  margin-top: 15%;

}

.modal-content h3 {
  text-align: center;
}

.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-button {
  display: block;
  margin: 0 auto;
}

.select-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #888;
  font-size: 15px;
}

.select-dropdown:focus {
  outline: none;
  border-color: #555;
}

.select-dropdown option {
  padding: 5px;
}


.label-spacing {
  margin-bottom: 10px;
}

.user-control {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 25px;
}

#save-status {
  margin: 10px;
}

.card-outlined {
  border: 1px solid #ddd;
}
#analysisPane {
  text-align: left;
}