/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #252524;
    background: linear-gradient(
      to bottom right,
      #D0FAF9 0%,
      #f4e8ff 50%,
      #dffbff 100%);
    /* background: linear-gradient(
      to bottom right,
      #FFD89E 0%,
      #FF849D 50%,
      #B255A8 100%
    );
    background: linear-gradient(
      to bottom right,
      #3d46ad 0%,
      #21266e 50%,
      #212877 100%
    ); */
  }
  
/* Buttons */
.main-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.0);
    color: #686868;
    outline: solid 1px #ddd;
    cursor: pointer;
    font-size: 16px;
    backdrop-filter: blur(1px);
    opacity: 1;
    transition: all 0.15s ease-in-out    
}
  
  .main-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    outline-style: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }
  
  .secondary-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: transparent;
    color: #686868;
    transition: all 0.15s ease-in-out;
    outline: 0px solid white;
    cursor: pointer;
    font-size: inherit;
    opacity: 1;
  }
  
  .secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    outline-style: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }


  .text-button {
    text-decoration: none;
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    opacity: .6;
    
    transition: background-color 0.15s, color 0.3s;
  }
  
  .text-button:hover {
    background-color: #ddd;
  }



  .button-highlight {
    background-color: #e7e7e7;
  }
  .hint-text {
    opacity: .3;
    font-size: 18px;
    font-weight: 700;
  }

  .image-icon {
    height: 1em;
    opacity: .4;
    margin: 10px;
  }

  /* Cards */
  .card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    outline: 1px solid #ffffff;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 20px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 10px 30px rgba(53, 53, 53, 0.05);
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
  }

  .card-outline {
    outline: 1px solid #ddd;
  }

  .section-menu {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(100px);
    text-align: center;
    /* border: 1px solid #ffffff; */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  .section-menu:hover {
    box-shadow: 0px 10px 30px rgba(53, 53, 53, 0.05);
    background-color: rgba(255, 255, 255, 0.9);
    /* border: 1px rgba(red, green, blue, 0); */
  }

  /* Inputs */
  input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
    outline: 1px solid #ddd;
    transition: all 0.3s;
  }
  
  input:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
  
  }

  /* Toast */
  .toast {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.075);
    padding: 1em;
    font-weight: 500;
    color: #666;
    outline: 2px solid rgba(255, 255, 255, 0.075);
    position: fixed;
    top: -100px; /* Initially position it above the viewport */
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    animation: slideIn 0.25s ease-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      top: -100px; /* Start from above the viewport */
      opacity: 0;
      visibility: hidden;
    }
    1% {
      visibility: visible;
    }
    100% {
      top: 20px; /* Move to the desired position */
      opacity: 1;
      visibility: visible;
    }
  }
  
  .toast.slide-out {
    animation: slideOut 0.25s ease-in forwards;
  }
  
  @keyframes slideOut {
    0% {
      top: 20px; /* Start position */
      opacity: 1;
      visibility: visible;
    }
    99% {
      visibility: visible;
    }
    100% {
      top: -100px; /* Move above the viewport */
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  

  /* Modal */
.modal-generic {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.0);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
  overflow: auto;
  backdrop-filter: blur(10px);
}

.modal-content-generic {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(40px);
  margin: auto;
  padding: 20px;
  width: 60%;
  min-width: 300px;
  max-height: 80vh; /* Set maximum height to 80% of viewport height */
  overflow-y: auto; /* Enable vertical scroll if content exceeds height */
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-top: 5vh;
  margin-bottom: 10vh; /* Add margin at the bottom to center the modal vertically */
  outline: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

#modal-text-content {
  min-width: 50%
}

.modal-dialogue-buttons-container {
  display: flex;
  justify-content: right;
  flex: 1;
}
.modal-dialogue-buttons-container button + button {
  margin-left: 10px;
}

.dialogue-box {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
}

  .header-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .title-header {
    margin: 0;
    padding-bottom: 5px; /* Add padding to adjust the space underneath */
  }
  
  .text-icon {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    padding-bottom: 5px; /* Add padding to adjust the space underneath */
    align-items: center;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #222222;
    opacity: .5;
    transition: background-color 0.3s, color 0.3s;
  }
.text-icon:hover {
  background-color: #ddd;
}
  

.modal-dialogue-text {
  height: fit-content;
  width: 100%;
}
.modal-dialogue-textbox {
  height: fit-content;
  width: 80%;
  margin-top: 10px;
}
.image-icon-button {
  height: 17px;
  opacity: .4;
}