* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

label {
  font-size: 36px;
  color: #8d8d8d;
}

h2 {
  color: #8d8d8d;
  font-size: 0px;
  margin: 5px;
}
p {
  color: #8d8d8d;
  font-size: large;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Center the button in each section */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ddd;
  width: fit-content;
}

button:hover {
  background-color: #666;
  color: #fff;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.section-contents {
  max-width: 800px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
}

.section-contents label {
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  height: auto;
  word-wrap: break-word;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]::placeholder {
  color: #9e9e9e;
}

input[type="text"]:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}

.fixed-top-left {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px ;
  border-radius: 10px;
  border: 0;
  background-color: #ffffff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ddd;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
}

.fixed-top-left:hover {
  background-color: #666;
  color: #fff;
  outline-style: none;
}