body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: auto;
}
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  label {
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: left;
  }
  
  
  input[type="text"] {
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    border-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 60%;
    max-width: 800px;

    transition: 0.3s ease-in-out;
  }
  
  input:hover {
    outline: none;
    box-shadow: 0 4px 25px rgba(105, 105, 105, 0.15);
    
  }
  
  button[type="submit"] {
    font-size: 24px;
    padding: 20px;
    border-radius: 15px;
    border: 1px;
    border-color: #ddd;
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: #1b1b1b;
    cursor: pointer;
    width: 20%;
    max-width: 800px;
    transition: background-color 0.3s;
    margin-top: 50px;
  }
  
  button[type="submit"]:hover {
    background-color: #707070;
    color: white;
  }
  