
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    margin-bottom: 150px;
  }
  
  .logo img {
    max-width: 400px;
  }
  
  .card {
    width: 300px;
  }
  
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h4, h5 {
    color: #8d8d83;
  }
  


  
  .card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
  

  
  .button-container {
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  

  a {
    text-decoration: none;
  }
  